beginner project.csproj
obj/Debug/net6.0/refint/beginner project.dll
obj/Debug/net6.0/beginner project.pdb
obj/Debug/net6.0/ref/beginner project.dll
obj/Debug/net6.0/beginner project.GlobalUsings.g.cs
obj/Debug/net6.0/beginner project.genruntimeconfig.cache
obj/Debug/net6.0/beginner project.GeneratedMSBuildEditorConfig.editorconfig
obj/beginner project.csproj.nuget.g.targets
obj/beginner project.csproj.nuget.g.props
obj/beginner project.csproj.nuget.dgspec.json
bin/Debug/net6.0/beginner project.runtimeconfig.json
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/beginner project.AssemblyInfo.cs
obj/Debug/net6.0/beginner project.AssemblyInfoInputs.cache
obj/Debug/net6.0/beginner project.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/beginner project.dll
obj/Debug/net6.0/beginner project.csproj.FileListAbsolute.txt
obj/Debug/net6.0/beginner project.csproj.AssemblyReference.cache
obj/Debug/net6.0/beginner project.assets.cache
obj/Debug/net6.0/apphost.exe
obj/project.nuget.cache
obj/project.assets.json
bin/Debug/net6.0/beginner project.pdb
bin/Debug/net6.0/beginner project.exe
bin/Debug/net6.0/beginner project.dll
